<div id='myModal', class='modal fade'>
</div>
<a href="#" class="scrolltop back2top">
  <i class="icon-arrow-up icon-large"></i>
</a>
<header class="navbar navbar-fixed-top" role="navigation">
  <nav class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">展开</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo-container">
          <a href="#" class="nav-brand">
            <h1>TeaMind.biz</h1>
            <h2>茗想<h2>
          </a>
        </div>
      </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right navbar-teamind">
          <li><a href="#" class="back2top">首页</a></li>
          <li><a href="http://blog.lohaswork.com/">博客</a></li>
          <li><a href="#" class="scroller" data-section=".intro-wraper">提前体验</a></li>
          <li><a href="mailto:market@lohaswork.com">给我写信</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</header>
<!-- End of navbar-->
<!-- EarlyAdopters page layout -->
<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 video-player">
        <div class="vplayer-box">
          <%= video_player src: { mp4: 'videos/LohasWork-bestshow.mp4' },
                           controls: true,
                           width: "640",
                           height: "360",
                           preload: "auto"%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="intro-wraper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 intro">
        <h3>TeaMind 是一款简洁、易用的团队协作工具<br>与Email深度集成 &nbsp专为中小团队定制</h3>
        <%= image_tag "top-para.png" %>
        <%= render :partial=>'apply_form'%>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-4">
        <a href="http://lohaswork.com" class="logo">
          <%= image_tag "logo-with-word-grey.png" %>
        </a>
        <p>
          Made by the team at <a href="http://lohaswork.com">LohasWork, Ltd</a>. Copyright 2013.
        </p>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-3 col-md-offset-5">
        <a href="http://site.douban.com/219120/" class="social douban">
          <i class="icon-douban icon-2x"></i>
        </a>
        <a href="http://weibo.com/u/3732217665/" class="social weibo">
          <i class="icon-weibo icon-2x"></i>
        </a>
        <p class="icp">沪ICP备13031730号-1</p>
      </div>
    </div>
  </div>
</div>
