config/database.yml
vendor/bundle
lib/config/local.rb
tmp/*
!tmp/pids
!tmp/pids/unicorn.pid
!tmp/.gitkeep
log/*
!log/.gitkeep
config/secrets.rb
bin
.bundle
.rvmrc
.sass-cache/
db/*.sqlite3
*.DS_Store
dump.rdb
.idea
Gemfile.local
vendor/checkouts
public/assets
test_reports
coverage/*
