<ul id='discussion-list' class="list-unstyled">
  <%- discussions.try(:each) do |discussion|%>
    <li>
      <div class='content'>
        <%= discussion.content%>
      </div>
      <div class='attachment'>
        <%= render :partial => 'topics/discussion_attachments', :locals => {:discussion => discussion} %>
      </div>
      <div class='discussion-info'>
        <div class='discussion-creator'>
          <%= discussion.creator.email%>
        </div>
        <div class='update-time'>
          <%= discussion.created_at.strftime("%Y年%m月%d日 %H:%M")%>
        </div>
      </div>
    </li>
  <% end %>
</ul>

