<div id='discussion-list'>
  <%- discussions.try(:each) do |discussion|%>
    <div class='row'>
      <div class='col-xs-2'>
        <%= discussion.creator.email%>
      </div>
      <div class='col-xs-3'>
        <%= discussion.content%>
      </div>
      <div class='col-xs-3'>
        <%= discussion.created_at%>
      </div>
    </div>
  <% end %>
</div>

