<span id="attachments-in-discussion">
  <ul class="list-unstyled">
    <%- discussion.upload_files.try(:each) do |file| %>
      <li>
        <i class="fa fa-paperclip fa-lg"></i>
        <%= file.name %>
        <%= file.size ? number_to_human_size(file.size) : "未知大小" %>
        <%= link_to '下载', download_path(file) %>
      </li>
    <% end %>
  </ul>
</span>

