<div class="row">
  <div id='topic-list'>
    <div>
      您的话题有：
    </div>
      <div class='col-xs-2'>
        创建者：
      </div>
      <div class='col-xs-2'>
        回复数：
      </div>
      <div class='col-xs-3'>
        标题：
      </div>
      <div class='col-xs-3'>
        创建时间：
      </div>
    <%- topics.try(:each) do |topic|%>
        <div class='col-xs-2'>
          <%= topic.last_updator.email%>
        </div>
        <div class='col-xs-2'>
          <%= topic.discussions.size > 0 ? topic.discussions.size : ''%>
        </div>
        <div class='col-xs-3'>
          <%= link_to(topic.title, topic_path(topic))%>
        </div>
        <div class='col-xs-3'>
          <%= topic.last_active_time%>
        </div>
    <% end %>
  </div>
</div>
