<div class="topiclist-buttongroup">
  <%= render :partial => 'tags/tagging' %>
  <% if controller_name == 'topics' && action_name == 'show' || action_name == 'unarchived' %>
    <%= render :partial => 'archive_form', :locals => {:topic => topic} %>
  <% end %>
</div>
