<ol class="breadcrumb">
  <% if in_personal_topics_page? %>
    <li><%=link_to('个人空间', personal_topics_path) %></li>
    <li class="active"><%= current_page?(:controller => 'topics', :action => 'unarchived') ? '收件箱' : '所有邮件' %></li>
  <% else %>
    <li class="active">团队空间</li>
  <% end %>
</ol>
