<div class="row checkbox-group" id="select-user" data-update="#selected_users", data-reload="checkBoxGroup">
  <%- if colleagues%>
    <div class='col-xs-2 offset10'>
      <input type="checkbox", class='all', data-all=true>
      <span>全选</span>
    </div>
    <%- show_for_checkbox(colleagues, topic).each do |user| %>
      <div class="col-xs-2" >
        <%= check_box_tag nil, user[:email], false, :class=>"item", :'data-item'=>true, :'data-selected'=>user[:is_in_topic] %>
        <span><%=user[:email_name]%></span>
      </div>
    <% end %>
  <% end %>
</div>
