<div class="row checkbox_group" id="select_user" data-update="#topic_users">
  <%- if organization_users%>
    <div>
      <input type="checkbox", class='all', data-all=true>
      <span>全选</span>
    </div>
    <%- organization_users.each do |user| %>
      <div class="col-xs-2" >
        <%= check_box_tag nil, user[:email], false, :class=>"item", :'data-item'=>true, :'data-selected'=>user[:is_in_topic] %>
        <span><%=user[:email_name]%></span>
      </div>
    <% end %>
  <% end %>
</div>
