<div class="row checkbox_group" id="select_user" data-update="topic_users">
  <%- organization_users.try(:each) do |user| %>
    <div class="span2" >
      <%= check_box_tag nil, user.email, false, :class=>"checkbox"%>
      <span><%=user.email_name%></span>
    </div>
  <% end %>
</div>
