<div class="topic-list-container">
  <p>团队空间</p>
  <div><%= link_to('成员管理', show_member_path, :class=>"center")%></div>
  <%= render :partial => 'tags/tagging' %>
  <%= render :partial => 'topics/topic_area' %>
</div>
