<div class="topic-area">
  <p>团队空间</p>
  <%= render :partial => 'new_topic', :locals => {:organization_users => @organization_users} %>
  <%= render :partial => 'topic_list', :locals => {:topics => @topics} %>
</div>
