<div class="topic-area">
  <p>团队空间</p>
  <%= render :partial => 'new_topic', :locals => {:colleagues => @colleagues} %>
  <%= render :partial => 'topic_list', :locals => {:topics => @topics} %>
</div>
