<div class="topic-area">
  <p>团队空间</p>
  <%= render :partial => 'shared/new_topic', :locals => {:colleagues => @colleagues, :topic => nil} %>
  <%= render :partial => 'topic_list', :locals => {:topics => @topics} %>
</div>
