<div class='topic-show'>
  <div class='title'>
    <%= @topic.title%>
  </div>
  <%= render :partial => 'discussion_list', :locals => {:discussions => @discussions}%>
  <%= render :partial => 'new_discussion', :locals => {:organization_users => @organization_users}%>
</div>
