<div class="row headline">
  <h4>话题展开</h4>
</div>
<div class="topic-area-gap"></div>
<%= render :partial => 'topics/topiclist_buttongroup', :locals => {:topic => @topic} %>
<%= render :partial => 'topics/topic_area' %>
