/*
green 1: #49BF67;
green 2: #3eb05b;
green 3: #35914c;
*/

/* to make test pass */
html, body {
  height: 100%;
}
body {
  font-family:Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;

  a:hover {
    text-decoration: none;
  }
}
