/*
green 1: #49BF67;
green 2: #3eb05b;
green 3: #35914c;
*/

/* to make test pass */
html, body {
  height: 100%;
}
body {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family:Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  a:hover {
    text-decoration: none;
  }
  .scroll {
    opacity: 0.85;
  }
  .wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 933px;
  }
}
