.content-header {
  background-color: #fff;
  position:relative;
  color: #222222;
  padding: 28px 20px 0px;
  margin-top: 0;
  ul.main-board {
    font-size: 25px;
    a {
      color: #ccc!important;
      &:hover {
        color: #333!important;
      }
    }
    li.active a {
      color: #333!important;
    }
  }
}
