@mixin better_transparentize($color, $alpha) {
  $c: rgba($color, $alpha);
  $ie_c: ie_hex_str($c);
  background: rgba($color, 1);
  background: $c;
  background: transparent\9;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c});
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c})";
}

.flash-notice {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  font-size: 16px;
  font-weight: 600;
}
#message-dialog {
  .modal-body {
    padding: 0 0 0 0;
  }
  .alert {
    margin-bottom: 0;
  }
}
