.modal {
  #new-topic-form {
    width: 650px;
    .modal-header {
      padding: 10px 15px;
      background-color: #73AE5C;
      color: #fff;
      button {
        padding-top: 2px;
        color: #fff;
      }
    }
    .modal-body {
      padding-bottom: 0!important;
    }
    .modal-footer {
      background-color: #F5F5F5;
      padding: 5px 20px;
      .btn {
        width: 72px;
      }
    }
  } // End of #new-topic-form
} // End of .modal
.subgroup-select-list {
  max-height: 120px;
  overflow-y: scroll;
}
