.modal {
  #new-topic-form {
    position: fixed;
    right: 0px;
    bottom: 0px;
    .modal-footer .btn {
      margin-right: 20px;
    }
  } // End of #new-topic-form
} // End of .modal

.select-user {
  margin-left:30px;
}
