.navbar {
  min-height: 32px;
  line-height: 32px;
  background-image: linear-gradient(to bottom, #ffffff,#f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  .logo {
    padding-top: 0.5%;
  }

  ul.list-inline {
    li {
      padding-top: 2%;
      a {
        color: #666;
        &:hover {
          color: #000;
        }
      }
    }
  }

}

