.navbar {
  min-height: 42px;
  line-height: 42px;
  background-image: linear-gradient(to bottom, #ffffff,#f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  ul.list-inline {
    margin: 0;
    padding-top: 2px;
    li {
      height: 32px;
      line-height: 32px;
      padding-left: 8px;
      padding-right: 8px;
      a {
        color: #666;
        &:hover {
          color: #000;
        }
      }
    }
  }

}

