@import "custom_mixins";
.sidebar {
  text-align: center;
  border-right: 1px #EEEEEE solid;
  h4 {
    color: #666;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 8px;
    height: 38px;
    line-height: 35px;
    text-align: center;
  }
  h5 {
    text-align: left;
    padding-left: 20px;
    height: 28px;
    line-height: 28px;
    color: #999;
    &:hover {
      background-color: #eee;
      color: #000;
    }
  }
  h5.selected { color: #000!important; }
}
#create-new-topic {
  min-width: 95px;
  width: 75%;
  @include green-button();
}
.personal-inbox {
  text-align: left;
  margin-top: 10px;
}
.organization-inbox {
  text-align: left;
}
#tag-filters {
  text-align: left;
  a {
    cursor: pointer;
    display:block;
    @include get-rid-of-long-words();
  }
  li {
    margin: 4px 0;
    padding: 2px 0 2px 20px;
  }
  li [type=checkbox] {
    width: 0;
  }
}
