.tag-color-1 {
  color: #e11d21;
}
.tag-color-2 {
  color: #eb6420;
}
.tag-color-3 {
  color: #fbca04;
}
.tag-color-4 {
  color: #009800;
}
.tag-color-5 {
  color: #006b75;
}
.tag-color-6 {
  color: #207de5;
}
.tag-color-7 {
  color: #0052cc;
}
.tag-color-8 {
  color: #5319e7;
}
.tag-color-9 {
  color: #f7c6c7;
}
.tag-color-10 {
  color: #fad8c7;
}
.tag-color-11 {
  color: #fef2c0;
}
.tag-color-12 {
  color: #bfe5bf;
}
.tag-color-13 {
  color: #bfdadc;
}
.tag-color-14 {
  color: #c7def8;
}
.tag-color-15 {
  color: #bfd4f2;
}
.tag-color-16 {
  color: #d4c5f9;
}
