<div >
  <div class="center">您的电子邮箱已通过验证。</div>
  <div class="center">登录开始您的乐活工作之旅。</div>
  <div class="center">
    <a class="center" href="/" display:inline >登陆</a>
    <a class="center" href="/">首页</a>
  </div>
</div>
