<ul class="forgot-success text-center list-unstyled">
  <li>重置密码的邮件已发送至您的邮箱。</li>
  <li class="user-email">
    <%= @user.email %>
  </li>
  <li>请按照邮件内容指引重置您的密码。</li>
  <li>
    <%= link_to('返回登录', login_path, :class=>"btn")%>
  </li>
</ul>
