<div class="forgot">
  <%= form_tag forgot_path, :method => "post", :class=>"form-horizontal" do %>
    <div class="center control-group">
      <%= text_field_tag :email, nil, :class=>"input-large", :placeholder=>"邮箱"%>
    </div>
    <div class="center">
      <%= submit_tag "发送邮件重置密码", :class=>"btn"%>
    </div>
  <% end %>
</div>
