<div class="forgot container">
  <%= form_tag forgot_path, :method => "post", :class => "form-inline", :remote => true do %>
    <div class="form-group">
      <%= text_field_tag :email, nil, :class=>"form-control", :placeholder=>"邮箱"%>
    </div>
    <%= submit_tag "发送邮件重置密码", :class=>"btn btn-default"%>
  <% end %>
</div>
