<%= form_tag '/users', :method => "post", :class=>"sign-up" do %>
  <input type="text" class="input-large" id="email" placeholder="邮箱">
  <input type="password" class="input-large" id="passwrod" placeholder="密码">
  <input type="text" class="input-large" id="organization-name" placeholder="公司或团体名称">
  <button type="submit" class="btn">注册</button>
<% end %>
