<div class="reset container">
  <% if @user%>
    <%= form_tag reset_path(@reset_token), :method => "post", :class=>"form-inline", :remote => true do %>
      <div class="form-group">
        <%= password_field_tag :password, nil, :class=>"form-control", :placeholder=>"新的密码"%>
      </div>
        <%= submit_tag "重置密码", :class=>"btn btn-default"%>
    <% end %>
  <%else%>
    <div class="text-center">
      您的链接已失效
    </div>
  <%end%>
</div>
