<div class="forgot">
  <% if @user%>
    <%= form_tag reset_path(@reset_token), :method => "post", :class=>"form-horizontal", :remote => true do %>
      <div class="center control-group">
        <%= password_field_tag :password, nil, :class=>"input-large", :placeholder=>"新的密码"%>
      </div>
      <div class="center">
        <%= submit_tag "重置密码", :class=>"btn"%>
      </div>
    <% end %>
  <%else%>
    <div class="center">
      您的链接已失效
    </div>
  <%end%>
</div>
