<div >
  <div class="center">您已重新设置了密码。</div>
  <div class="center">登录重新开启您的乐活工作之旅。。</div>
  <div class="center">
    <%= link_to('登录', login_path, :class=>"center")%>
    <%= link_to('首页', root_path, :class=>"center")%>
  </div>
</div>
