<ul class="signup-success text-center list-unstyled">
  <li>您已成功注册并创建了您的公司或团体。</li>
  <li>请注意查收邮件并及时验证您的邮箱信息。</li>
  <li>
    <%= link_to('返回首页', root_path, :class=>"btn btn-default")%>
  </li>
</ul>

