<p>个人空间</p>
<%= render :partial => 'tags/tagging' %>
<%= render :partial => 'shared/new_topic', :locals => {:colleagues => @colleagues, :topic => nil} %>
<%= render :partial => 'topics/topic_list', :locals => {:topics => @topics} %>
