<div class="content-header">
  <ul class="main-board list-inline">
    <li class="active"><a href="#">讨论</a></li>
    <li><a href="#">任务</a></li>
    <li><a href="#">文件</a></li>
  </ul>
</div>
<hr class="double-line">
