<% if defined? error_messages and error_messages.any? %>
  <div>
    <p><strong>有 <%= error_messages.count %> 处问题导至无法提交:</strong></p>
    <ul>
    <% error_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
