<div class="sidebar">
  <div class="personal-inbox">
    <div>
      <%= link_to('个人空间', personal_topics_path) %>
    </div>
    <div>未处理</div>
    <div>所有</div>
  </div>
  <div class="organization-inbox">
    <div>
      <%= link_to("团队空间", topics_path)%>
    </div>
    <%= render :partial => 'tags/tag_filters', :locals => { :tags => current_organization.tags } %>
  </div>
</div>
