<div class="sidebar">
  <div class="sidebar-bg"></div>
  <nav class="main-nav">
    <div class="navigation">
      <ul class="nav nav-stacked panel-group" id="accordion">
        <li class="active panel">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseItem">
            <i class="icon-inbox prefix-icon"></i>
            <span>个人空间</span>
            <i class="icon-angle-down angle"></i>
          </a>
          <ul id="collapseItem" class="nav nav-stacked collapse in">
            <li>
              <a href="#">
                <span>未处理</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>所有</span>
              </a>
            </li>
          </ul> <!-- End of collapseItem -->
        </li>
        <li class="panel">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseItemTeam">
            <i class="icon-sitemap prefix-icon"></i>
            <span>团队空间</span>
            <i class="icon-angle-down angle"></i>
          </a>
          <ul id="collapseItemTeam" class="nav nav-stacked collapse">
            <li>
              <a href="#">
                <div class="tag-container">
                  <i class="icon-circle"></i>
                  <span>公司事务</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="tag-container">
                  <i class="icon-circle"></i>
                  <span>杂事</span>
                </div>
              </a>
            </li>
          </ul> <!-- End of collapseItemTeam -->
        </li>
      </ul> <!-- End of accordion -->
    </div>
  </nav>
</div>
