<div class="btn-group" data-page="TaggingGroup">
  <button type="button" id="tagging-dropdown" class="btn btn-default dropdown-toggle">
    <i class="icon-tags"></i>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">新建</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <li class="divider"></li>
    <lable>标记为：</lable>
    <li><a href="#">Tag1</a></li>
    <li><a href="#">Tag2</a></li>
    <li class="divider"></li>
    <li><a href="#">应用</a></li>
  </ul>
</div>
