<div class="discussion-uploader">
  <%= form_for UploadFile.new, :html => { :multipart => true, :id => "fileupload" } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="fileupload-buttonbar">
      <div class="fileupload-button-row">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="fa fa-plus"></i>
          <span>Add files...</span>
          <%= f.file_field :file, multiple: true, name: 'upload[file]' %>
        </span>
      </div>
      <div id="upload-success-files"></div>
      <div class="col-xs-12">
        <div class="progress active fade">
          <div class="progress-bar progress-bar-success bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>
</div>
