<%- if !get_colleagues.blank?%>
  <div class="subgroup-select">
    选择邮件通知人:
    <span class='all'>全选</span>
  </div>
  <%- show_for_checkbox(get_colleagues, topic).each do |user| %>
    <label>
      <%= check_box_tag 'selected_emails[]', user[:email], false, :class=>"item", :'data-selected'=>user[:is_in_topic], :class => 'custome-checkbox' %>
      <%=user[:display_name]%>
    </label>
  <% end %>
<% end %>
