<div class="checkbox-group col-xs-12" id="select-user-for-discussion" data-update="#selected_users_for_discussion", data-page="CheckBoxGroup", data-reload=true>
  <%= render :partial=> 'shared/user_select', :locals => {:topic => topic} %>
</div>
