<div class="document-container-bg">
  <div class="container document-container">
    <div class="about-us-page row">
      <h3 class="document-title">关于我们</h3>
      <div class="side-info col-md-4">
        <h3>公司信息</h3>
        <%= image_tag "team.jpg" %>
        <div class="address-list">
          <address>
            <strong>上海谅直信息科技有限公司</strong><br>
            国定东路200号4号楼415室<br>
            上海市, 杨浦区<br>
            <abbr title="Phone">电话号码:</abbr> (123) 456-7890
            <br>
            <abbr title="Email">Email:</abbr> <a href="mailto:support@lohaswork.com">support@lohaswork.com</a>
          </address>
        </div>
      </div>
      <div class="main-info col-md-8">

        <h3>愿景</h3>
        <ul>
          <li>我们是一个专注于工作效率提升领域的互联网创业团队。</li>
          <li>我们赞成并追求乐活的工作方式， 并渴望通过科技帮助您和我们自己实现这一理想。</li>
          <li>我们希望通过科技+人文的方式帮助人们提高工作效率, 在提升自己并为组织创造更多价值的同时能够回归生活，有更多的时间陪伴家人，拥抱自然以及，做你想做的任何事。</li>
          <li>我们在价值观及理念上深受37Signals及豆瓣公司的影响，并希望在简单、务实以及真正的人文关怀等方面做的如同它们一样出色。我们的理想，是成为“中国的37Signals”以及“工作领域的豆瓣”。</li>
        </ul>
        <h3>团队</h3>
        <ul>
          <li>目前团队由创始人及其三位兼职的技术朋友组成，希望能够建立产品、技术、营销力量均衡的专职核心团队，快速推进产品及客户开发进程。</li>
          <li>创始人来自500强外企管理层，有超过10年的IT开发及管理经验及5年的日本留学/工作经历，数据挖掘应用方面的博士研究生。对企业管理软件、项目管理及互联网有深刻认识，有一定的市场与客户资源。精益、敏捷、TOC、GTD等管理理论的倡导与实践者，也是长跑、户外、读书及新技术的爱好者。</li>
          <li>三位兼职技术同学与创始人是多年的伙伴与朋友。一位技术大牛来自上海知名IT外企技术总监，架构及开发能力很强。另两位分别在Ruby和Java领域有着丰富的开发经验。</li>
        </ul>

        <h3>当前状况</h3>
        <ul>
          <li>团队入驻上海市大学生创业示范园。</li>
          <li>在使用Rails开发一款结合Email体验的团队协作工具。</li>
          <li>目前重点在于打造一支有着相同价值观的稳定的“全职”团队并确定开发框架与流程。</li>
        </ul>

      </div>
    </div>
  </div>
</div>
