<div class="document-container-bg">
  <div class="container document-container">
    <div class="about-us-page row">
      <h3 class="document-title">关于我们</h3>
      <div class="side-info col-md-4">
        <h4>团队信息</h4>
        <%= image_tag "LohasWork.com.Brand.White.png" %>
        <div class="address-list">
          <address>
            上海市杨浦区国定东路200号4幢415室<br>
            <br>
            <abbr title="Phone">Phone:</abbr> (+86) 18101652642
            <br>
            <abbr title="Email">Email:</abbr> <a href="mailto:support@lohaswork.com">support@lohaswork.com</a>
          </address>
        </div>
      </div>
      <div class="main-info col-md-8">

        <h4 class="heading-indent">关于 teamail.biz</h4>
        <ul class="team-info">
          <li>teamail.biz 是『楽活工場』团队针对 <strong>团队协作及项目管理的痛点</strong> 进行深入思考之后打造的产品。</li>
          <li>团队创始人来自于500强外企的管理层。十数年的的项目管理经历让其对项目管理和团队协作有着较为深刻的认识和感触，也期望能够通过 teamail.biz 来提升协同与工作效率。</li>
        </ul>

        <h4 class="heading-indent">团队愿景</h4>
        <ul class="team-info">
          <li>我们是一个专注于工作效率提升领域的互联网创业团队。</li>
          <li>我们赞成并追求乐活的工作方式， 并渴望通过科技帮助你和我们自己实现这一理想。</li>
          <li>我们希望通过 人文+科技 的方式帮助人们提高工作效率, 在提升自己并为组织创造更多价值的同时能够回归生活，有更多的时间陪伴家人，拥抱自然以及，做你想做的任何事。</li>
          <li>我们在价值观及理念上深受 <strong>37 Signals</strong> 及 <strong>豆瓣</strong> 公司的影响，并希望在简单、务实以及真正的人文关怀等方面做的如同它们一样出色。我们的理想，是成为“中国的 37 Signals”以及“工作领域的豆瓣”。</li>
        </ul>

        <h4 class="heading-indent">团队及项目状况</h4>
        <ul class="team-info">
          <li>第二届中国创新创业大赛上海赛区(团队组)决赛入围项目</li>
          <li>2013年上海市杨浦区创业启动资金扶持项目</li>
          <li>上海市大学生创业示范园扶持项目</li>
        </ul>

      </div>
    </div>
  </div>
</div>
