<div class="document-container-bg">
  <div class="container document-container">
    <div class="agreement-page row">
      <h3 class="document-title">服务条款</h3>
      <div class="main-info col-md-12 agreement-content">

        <h4>欢迎使用 teamail.biz！</h4>
        <p>感谢您使用我们的产品和服务（下称“服务”）。服务由 上海谅直信息科技有限公司（下称“谅直”）提供。</p>
        <p>您使用我们的服务即表示您已同意本条款。请仔细阅读。</p>

        <h4>1. 使用服务</h4>

        <p>您必须遵守服务中提供的所有政策。</p>
        <p>请勿滥或者干扰我们的服务，例如，请勿尝试使用除我们提供的界面和指示以外的方法访问服务。您仅能在法律允许的范围内使用我们的服务。如果您不遵守我们的条款或政策，或者我们在调查可疑的不当行为，我们可以暂停或停止向您提供服务。</p>
        <p>我们的服务会显示用户自行发布的内容。这些内容由发布的实体承担全部责任。谅直没有义务预先审查此类内容，但是，如果我们发现这些内容违法或者违反了服务条款，谅直有权将其删除或拒绝显示。</p>
        <p>在某些情况下，谅直可能会对服务内容进行变更，也可能会中断、中止或终止服务。如发生下列任何一种情形但不限于下列情形，谅直有权不经通知而中断或终止向您提供的服务：</p>
        <ul>
          <li>您违反相关法律法规或本服务条款的约定；</li>
          <li>按照法律规定或主管部门的要求；</li>
          <li>突发的自然灾害或者战争等不可抗力因素；</li>
          <li>使用收费服务的用户未支付使用费用；</li>
          <li>出于安全的原因或其他必要的情形。</li>
        </ul>
        <p>您可以随时终止您的账户或者停用服务，一旦您的账户停用，您可以选择删除您账户下的所有信息和内容。</p>
        <p>在您使用服务的过程中，我们可能会向您发送服务公告、管理消息和其他信息。</p>

        <h4>2. teamail 帐户</h4>

        <p>为了使用我们的服务，您需要注册一个 teamail 帐户或者由管理员（例如您所在组织或者公司）邀请您加入 teamail 。您的管理员可能有权停用您的帐户。</p>
        <p>为保护您的 teamail 帐户，请务必保管好您的密码并对外保密。您应对自己 teamail 帐户上发生的活动或通过该帐户进行的活动负责。如果您发现有人在未经授权的情况下使用了您的帐户，请按指示操作重置密码或者联系我们进行帮助。</p>

        <h4>3. 隐私政策</h4>

        <p>使用我们的服务，您拥有您使用我们服务所产生的内容的任何知识产权。未经您的同意，谅直不会向谅直以外的任何公司、组织和个人披露您的信息，但法律法规另有规定的除外。</p>

        <h4>4. 知识产权申明</h4>

        <p>本服务的所有外观设计以及专利归谅直所有，未经谅直或者相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>

        <h4>5. 关于本条款</h4>

        <p>我们可以修改上述条款或任何适用于某项服务的附加条款，例如，为反映法律的变更或我们服务的变化而进行的修改。您应当定期查阅本条款。我们会在本网页上公布这些条款的修改通知。我们会在适用的服务中公布附加条款的修改通知。所有修改的适用不具有追溯力，但是，对服务新功能的特别修改或由于法律原因所作的修改将立即生效。如果您不同意服务的修改条款，应停止使用服务。</p>

        <p>如果您不遵守本条款，且我们未立即采取行动，并不意味我们放弃我们可能享有的任何权利（例如，在将来采取行动）。</p>
        <br>
        <p>有关如何与 teamail 联系的信息，请访问关于我们的网页。</p>
        <br>
        <p>最后修改日期： 2013年12月09日</p>
        <p>Copyright © 2013 上海谅直信息科技有限公司 版权所有</p>

      </div>
    </div>
  </div>
</div>
