<div class="document-container-bg">
  <div class="container document-container">
    <div class="about-us-page row">
      <h3 class="document-title">常见问题</h3>
      <div class="side-info" id="question-nav-container">
        <ul class="nav nav-stacked question-nav">
          <li><a href="#section-service">关于服务</a></li>
          <li><a href="#section-features">使用帮助</a></li>
          <li><a href="#section-others">其他问题</a></li>
        </ul>
      </div>
      <div class="main-info col-md-9 col-md-offset-3 faq-content">

        <h3 id="section-service">关于服务</h3>
        <hr>
        <h4>Q1. 什么样的团队适合使用 teamail.biz </h4>
        <p>对项目管理的效率问题有追求的团队，都是我们的服务面向的用户。只要你对传统的email方式进行沟通和管理有所不满，你就是我们的服务期望帮助的群体。</p>

        <h4>Q2. 使用这个产品对我有什么好处？</h4>
        <p>teamail 可以帮助梳理你的项目信息流，并在原先 email 的基础上提供了团队层面的整理和筛选、归档等功能。</p>
        <p>对于项目的管理者来说，我们的服务为你提供了简便的查看全局的方式，改变以往任何情况都需要依靠会议来进行跟踪、excel或者记事本来进行记录管理的状况；</p>
        <p>对于项目的执行人员来说，使用我们的服务，你可以轻松得到同事的反馈，而无需一遍遍地抄送，你甚至可以不登录我们的页面，通过以往的email客户端就可以使用我们的服务，和其他成员互动。</p>

        <h4>Q3. 我是否可以长期免费使用这个服务？</h4>
        <p>目前我们的服务正处在测试期间，在此期间的一切使用均不收取任何费用。</p>
        <p>一旦测试期结束，我们会推出可以永久免费使用的基础版本；同时，为了保证服务质量，我们也会推出付费服务版本，具体的收费方式正在制定之中，用户可以按照自身的情况进行选择服务的类型。</p>

        <h4>Q4. 我不希望我或者我们公司的数据对外公开，我可以使用你们的产品吗？</h4>
        <p>当然可以，在我们的服务里，用户对他们产生的内容拥有知识产权，未经用户的同意，我们不会向 「teamail」 以外的任何公司、组织和个人披露用户的信息。详情请见我们的<%= link_to '服务条款', agreement_path, {target: "_blank"} %>。</p>

        <br>
        <br>

        <h3 id="section-features">使用帮助</h3>
        <hr>
        <h4>Q1. 我该如何着手使用你们的服务？</h4>
        <p>在我们的首页或者其他页面注册你的个人账号之后，按照激活邮件的要求进行激活。你就可以开始愉快的 teamail 之旅了。</p>
        <p>登录我们的网页，你会在个人收件夹中看到一封使用帮助，那里有你所需的信息；另外，你也可以查看本页内的常见问题来查找你的问题；如果你还有其他的问题，非常欢迎你给我们团队写信，email地址：<a href="mailto:support@lohaswork.com">support@lohaswork.com</a></p>

        <h4>Q2. 怎么加入公司的其他成员？</h4>
        <p>用户登录后，在导航栏的成员管理页面可以邀请其他成员，此时他们的状态为未激活，但是你可以在使用我们的产品发布内容时通知到他们，他们也可以通过email进行回复；但是如果要使用我们的页面，他们必须跟随邀请邮件的指引进行账号的激活。</p>
        <p>当然，你也可以在发布新内容时，在选择通知人时，动态地加入成员。</p>
        <p>此项功能可以方便加入你想通知的公司成员，甚至客户。</p>

        <h4>Q3. 我不想放弃我的email，我该如何把它和你们的服务整合呢？</h4>
        <p>只需要在写邮件时，在接收人（to）里面加入我们指定的邮箱地址<a href="mailto:notifications@mail.teamail.biz">notifications@mail.teamail.biz</a>，你的邮件就会被我们的服务收录，你的团队成员就可以在我们的服务上和你进行互动；另外你通过使用我们的网页产生的内容或者通过email发送至notifications@mail.teamail.biz产生的内容，都会通过邮件的形式通知你想要的通知人。</p>

        <h4>Q4. 标签功能是用来做什么的？</h4>
        <p>标签功能是一项非常强大的信息筛选特性。你可以通过对邮件进行标记各种不同的标签来进行分类和管理，例如，你可以给某封邮件加上“项目A”标签来表明这是 项目A 的一封工作来往邮件；你也可以进一步给这封邮件加上“任务”标签，来表明这是需要进行处理的事项。</p>
        <p>通过标签“项目A”，“任务”，你就可以快速定位到所需的邮件。需要注意的是标签是你（和你的团队内所有成员）所共有的。</p>

        <br>
        <br>

        <h3 id="section-others">其他问题</h3>
        <hr>
        <h4>Q1. 我想知道一些项目管理的实践或者你们服务的使用心得，我该去哪里？</h4>
        <p>我们的服务的宗旨是，追求乐活的工作方式，你可以在我们的团队博客中找到一些答案：<a href="http://blog.lohaswork.com/" target="_blank">乐活工场博客</a></p>

        <h4>Q2. 我想提些意见，我该怎么告诉你们？</h4>
        <p>你可以直接通过邮件联系到我们，邮箱地址：<a href="mailto:support@lohaswork.com">support@lohaswork.com</a></p>
        <p>你也可以在我们的团队博客上留言，博客地址：<a href="http://blog.lohaswork.com/" target="_blank">乐活工场博客</a></p></p>
        <p>另外，你可以关注我们的微信账号，甚至亲自登门来跟我们的成员进行交流。我们非常重视用户的反馈，所以请不必有顾虑，有任何想说的都可以直接跟我们联系。</p>

      </div>
    </div>
  </div>
</div>
