<div class="document-container-bg">
  <div class="container document-container">
    <div class="faq-page row">
      <h3 class="document-title">常见问题</h3>
      <div class="side-info hidden-xs" id="question-nav-container">
        <ul class="nav nav-stacked question-nav">
          <li><a href="#section-service">关于服务</a></li>
          <li><a href="#section-features">使用帮助</a></li>
          <li><a href="#section-others">其他问题</a></li>
        </ul>
      </div>
      <div class="main-info col-md-9 col-md-offset-3 faq-content">

        <h3 id="section-service">关于服务</h3>
        <hr>
        <h4>Q1. 什么样的团队适合使用 teamail.biz </h4>
        <p>强调工作效率，对团队协作和项目管理有追求的团队，都是我们的目标用户。如果Email是团队最常用的沟通手段，同时不希望在项目管理工具和Email中来回切换，相信 teamail.biz 会是提高团队协同效率最佳的选择。</p>

        <h4>Q2. 使用这个产品对我有什么好处？</h4>
        <p>teamail.biz 将整个团队的项目信息流聚合在一起，并提供了与Email高度契合的使用方式。</p>
        <p>对于团队Leader来说，我们的服务使你能够及时把握项目动态，掌控全局，进而改变以往任何情况都需要依靠会议来跟踪，依靠Excel表格来记录的状况；</p>
        <p>对于项目的执行人员来说，使用我们的服务，你可以轻松得到同事的反馈，而无需一遍遍地抄送，你甚至可以不登录我们的页面，通过自己熟悉的 Email 客户端就可以使用我们的服务，和其他成员互动。</p>
        <p>对于团队新人来说，可以通过 teamail.biz 快速熟悉项目状况和团队的工作习惯，迅速了解相关事件的来龙去脉，大大缩减上手时间。</p>

        <h4>Q3. 我是否可以长期免费使用这个服务？</h4>
        <p>目前我们的服务正处在公测阶段，在此期间的一切使用均不收取任何费用。</p>
        <p>一旦测试期结束，我们会推出可以永久免费使用的基础版本；同时，为了保证服务质量，我们也会推出付费服务版本，具体的收费方式正在制定之中，届时用户可以按照自身的情况选择服务的类型。</p>

        <h4>Q4. 放在 teamail.biz 中的数据安全吗？</h4>
        <p>在我们的服务里，团队中的所有信息都只有该团队的成员才能访问。所有数据都使用256位SSL加密传输，并存储在阿里云的OSS云存储与RDS云数据库中，非常安全。同时，用户对他们产生的内容拥有知识产权，未经用户的同意，我们绝不会向其他任何公司、组织和个人披露用户的信息。数据安全是我们这样SaaS类云计算企业的生命，我们会尽最大的努力来保障数据安全。</p>

        <br>
        <br>

        <h3 id="section-features">使用帮助</h3>
        <hr>
        <h4>Q1. 我该如何着手使用你们的服务？</h4>
        <p>注册团队并按照提示邮件激活后，你就可以开始愉快的乐活工作之旅了。</p>
        <p>登录我们的网页，你会在个人收件箱中看到一封使用帮助，那里有你所需的“快速上手”帮助信息；另外，你也可以查看本页内的常见问题来查找你的问题；如果你还有其他疑问，欢迎你给我们团队写信，Email 地址：<a href="mailto:support@lohaswork.com">support@lohaswork.com</a></p>

        <h4>Q2. 怎样邀请团队成员加入？</h4>
        <p>注册团队的成员会自动成为该团队的管理员。管理员登录后，可以通过 <strong>成员管理</strong> 页面邀请加入其他成员。
        <p>团队中的任何成员可以在创建/回复邮件时通过输入Email地址即时邀请成员。此项功能可以方便你随时将相关人员加入到会话之中，就如同使用Email一样简单自然。</p>

        <h4>Q3. 我不想放弃我的 Email，我该如何把它和你们的服务整合？</h4>
        <p>通过你常用的邮件客户端(如Outlook)写邮件时，只要在To或Cc里加入我们指定的邮箱地址<br/><a href="mailto:notifications@mail.teamail.biz">notifications@mail.teamail.biz</a>，你的邮件就会被我们的服务收录，你的团队成员就可以在我们的服务上和你互动；另外，你通过使用 teamail.biz 网站产生的内容都会以邮件的形式通知你指定的人员。</p>

        <h4>Q4. 标签功能是用来做什么的？</h4>
        <p>标签是一项非常强大的信息分类与筛选特性。你可以通过对邮件进行标记各种不同的标签来进行分类和管理，例如，你可以给某封邮件加上“项目A”标签来表明这是 项目A 的一封工作来往邮件；你也可以进一步给这封邮件加上“任务”标签，来表明这是需要进行处理的事项。</p>
        <p>通过点选“团队空间”中的标签“项目A”+“任务”，你可以快速定位到所需邮件。需要注意的是，标签是你和你的团队成员所共有的。团队成员能够看到并使用你创建的标签，反之亦然。</p>

        <br>
        <br>

        <h3 id="section-others">其他问题</h3>
        <hr>
        <h4>Q1. 我想知道一些项目管理的实践或者你们服务的使用心得，我该去哪里？</h4>
        <p>你可以在我们的团队博客中找到一些答案：<a href="http://blog.lohaswork.com/" target="_blank">楽活工場 博客</a></p>

        <h4>Q2. 我想提些意见，我该怎么告诉你们？</h4>
        <p>你可以直接通过邮件联系到我们，邮箱地址：<a href="mailto:support@lohaswork.com">support@lohaswork.com</a></p>
        <p>你也可以在我们的团队博客上留言，博客地址：<a href="http://blog.lohaswork.com/" target="_blank">楽活工場 博客</a></p></p>
        <p>另外，你可以关注我们的微信账号: teamailbiz，甚至亲自登门来跟我们的成员进行交流。我们非常重视用户的反馈，所以请不必有顾虑，有任何想说的都可以直接跟我们联系。</p>

      </div>
    </div>
  </div>
</div>
