<div class="modal-dialog" id="early_adotpers_add_success_msg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="modal-title">申请成功</h4>
    </div>
    <div class="modal-body">
      <p>您已成功申请 TeaMail 体验资格</p>
      <p>正式测试前您将会收到邮件提醒</p>
      <p>欢迎开始您的乐活之旅!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal">确定</button>
    </div>
  </div>
</div>

