<% tag_div_id = "tag-container-#{topic.id}" -%>
<div id="<%= tag_div_id -%>" class="headline-tag-container">
  <%- topic.tags.each do |tag| %>
    <div>
      <span><%= tag.name %><span>
      <%= link_to topics_remove_tag_path(:topic => topic, :tag => tag), :method => :post, :remote => true, :class => "tag-remove-link" do %>
        <i class="icon-remove remove-tag"></i>
      <% end %>
    </div>
  <% end %>
</div>
