<div id="tag-list" class="checkbox-group" data-update="#selected_tags" data-reload=true>
  <%- tags.try(:each) do |tag|%>
    <li>
      <%= check_box_tag 'tags[]', tag.id, false, :class=>"item", :'data-item'=>true %>
      <%= tag.name %>
    </li>
  <% end %>
</div>
