<div id="tag-filters" data-page="SidebarTags">
  <ul>
    <%- tags.try(:each) do |tag|%>
      <li id="tag-link-#{tag.id}">
        <%= link_to tag_filter_topics_path(:tag => tag, :topic => @topic), :method => :post, :remote => true do %>
          <%= tag.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
