<div id="tag-filters" data-page="SidebarTags">
  <ul class="list-unstyled">
    <%- tags.try(:each) do |tag|%>
      <li id="tag-link-#{tag.id}">
        <%- tag_color = tag.color || "1" %>
        <%= link_to topics_filter_with_tag_path(:tag => tag, :topic => @topic), :method => :post, :remote => true, :class => "tag-color-#{tag_color}" do %>
          <%= tag.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
