<div id="tag-list">
  <li class="divider"></li>
  <lable>标记为：</lable>
  <%- tags.try(:each) do |tag|%>
    <li><a href="#"><%= tag.name %></a></li>
  <% end %>
  <li class="divider"></li>
  <%= hidden_field_tag 'topics[]','' %>
  <li><a href="#">应用</a></li>
</div>
