<div id="tagging-controls" class="btn-group" data-page="TaggingGroup">
  <button type="button" id="tagging-dropdown" class="btn btn-default dropdown-toggle">
    <i class="icon-tags"></i>
    <span class="caret"></span>
  </button>
  <ul id="dropdown-tags" class="dropdown-menu" role="menu">
    <div class="col-md-12">
      <div class="input-group">
        <%= form_tag organization_tags_path(@organization), :method => "post", :remote => true do %>
          <%= text_field_tag :tag_name, nil, :placeholder=>"输入新标签名", :class=>"form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "新建", :class=>"btn btn-default" %>
          </span>
        <% end %>
      </div><!-- /input-group -->
    </div><!-- /.col-md-12 -->
    <%= render :partial => 'tags/tag_list', :locals => {:tags => @tags} %>
  </ul>
</div>
