body.home {
  // Overwrite default from app.css
  padding-top: 42px;
  background-color: #a1b58f;
  // Video modal
  #video-modal .modal-dialog {
    width: 662px;
  }
  // Overwrite nav.css
  .scroll {
    opacity: 0.85;
  }
  .scrolltop {
    background-color: #F1F1F1;
    border: 1px solid #8E958A;
    color: #8E958A;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: none;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    width: 36px;
    opacity: 0.6;
    position: fixed;
    right: 10%;
    top: 65%;
    text-align: center;
    i {
      position:relative;
      top:-1px;
    }
  }
  .navbar {
    background: #fff;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    ul.list-inline {
      margin: 0;
      padding-top: 2px;
      li {
        padding-right:0;
        a {
          border: 1px solid #eee;
          border-radius: 5px;
          height: 32px;
          line-height: 32px;
          background-color: #eee;
          padding: 8px 8px;
          color: #666;
          &:hover {
            color: #999;
          }
        }
      }
    }
  }

  // Main wraper
  .landing-page-wraper {
    min-height: 100%;
    height: 100%;
    width: 100%;
  }

  // Landing header
  .landing-header-bg {
    background: image-url("landing-header-bg.jpg") no-repeat center top;
    min-height: 700px;
  }
  .landing-header {
    text-align: center;
    h1 {
      color: #f5f5f5;
      font-weight: bold;
      padding: 30px 0;
      text-shadow: 0px -2px 0px #000;
    }
    .wings-image {
      position: relative;
      top: -4px;
    }
    .screen-shot-container {
      min-width: 650px;
      height: 375px;
    }
    .signup-form {
      max-width: 300px;
      padding-top: 10px;
      input {
        text-align: center;
        height: 49px;
        font-size: 18px;
      }
      .btn {
        color: #fff;
        background-color: #81A75E;
        border:none;
        &:hover {
          background-color: darken(#81A75E, 5%)
        }
      }
    }
    .signup-post {
      margin-top: 30px;
      h4 {
        color: #f5f5f5;
      }
      p {
        color: #f5f5f5;
      }
    }
  }
  .secondary-nav-bg {
    color: #212f40;
    margin-top: 39px;
    min-height: 150px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 30px 0 5px;
    background: #fff;
    opacity: 0.7;
    text-align: center;
  }

  // Major features
  .major-features-bg {
    background-color: #eee;
  }
  .major-features {
    max-width: 960px;
  }
  .feature-block {
    height: 290px;
    padding: 15px 10px 10px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px 1px #E5E5E5;
    h3 {
      text-align: center;
      font-weight: bold;
    }
    .feature-title-1 {
      color: #609D47;
    }
    .feature-title-2 {
      color: #389DD8;
    }
    .feature-title-3 {
      color: #923728;
    }
    p, li {
      font-size: 16px;
      font-weight: 100;
      color: #666;
      line-height: 25px;
    }
    a { font-size: 14px;}
  }

  // User Story
  .user-story-bg {
    background-color: #a1b58f;
  }
  .user-story-list {
    color: #f7f7f7;
    .user-story-intro {
      padding-top: 35px;
      padding-bottom: 35px;
    }
    h3 {
      background-color: #eee;
      height: 45px;
      line-height: 45px;
      margin: 0 auto;
      width: 350px;
      color: #a1b58f;
      border-radius: 6px;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 17px;
    }
  }
  .user-story-1 {
    height: 651px;
    margin-bottom: 45px;
    background: image-url("user-story-bg-01.jpg") no-repeat center bottom;
  }
  .us1-top {
    padding-top: 5px;
  }
  .us1-bottom {
    padding-top: 550px;
  }
  .user-story-2 {
    height: 600px;
    margin-bottom: 65px;
    background: image-url("user-story-bg-02.jpg") no-repeat center top;
  }
  .us2-bottom {
    padding-top: 555px;
  }
  .user-story-3 {
    height: 640px;
    margin-bottom: 105px;
    background: image-url("user-story-bg-03.jpg") no-repeat center bottom;
  }
  .us3-top {
    padding-top: 10px;
  }
  .us3-bottom {
    padding-top: 585px;
  }
  .user-story-4 {
    height: 530px;
    margin-bottom: 85px;
    background: image-url("user-story-bg-04.jpg") no-repeat center bottom;
  }
  .us4-middle {
    color: #a1b58f;
    padding-top:380px;
    position:relative;
    left: 30px;
  }

  // Bottom-signup-guide
  .bottom-signup-guide {
    background: image-url("bottom-guide-bg.png") 0 0 repeat;
    padding-top: 45px;
    padding-bottom:55px;
    text-align: center;
    h4 {
      margin-top: 15px;
      font-weight: bold;
    }
    .guide-btn {
      margin-top: 30px;
      height: 45px;
      font-size: 20px;
      padding-left: 20px;
      padding-right:20px;
    }
    h5 {
      color: #81A75E;
      cursor: pointer;
      &:hover {
        color: darken(#81A75E, 5%);
      }
    }
  }

  // About us & FAQ & agreement
  .document-container {
    margin: 60px auto;
    max-width: 960px;
    color: #f7f7f7;
    padding-bottom: 50px;
    .document-title {
      background-color: #eee;
      height: 45px;
      line-height: 45px;
      margin: 0 auto 35px;
      width: 350px;
      color: #a1b58f;
      border-radius: 6px;
      text-align: center;
    }
    .side-info {
      img {
        width: 100%;
        border: 2px #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      h4 {
        margin-left: 1em;
      }
      a {
        color: #a1b58f;
        &:hover {
          font-weight:bold;
          text-shadow: -3px 4px 3px #fbfbfb;
        }
      }
    }
    #question-nav-container {
      position: fixed;
      top: 100px;
      min-width: 200px;
    }
    .address-list {
      background-color: #eee;
      color: #a1b58f;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 20px 20px 10px;
    }
    .question-nav {
      border: 1px solid #e1e1e1;
      border-radius: 6px;
      .active {
        a { font-weight: bold; color: #a1b58f; background-color: #eee; }
      }
      a {
        color: #fff;
        &:hover { color: #a1b58f; }
      }
    }
    .main-info {
      .heading-indent {
        margin-left: 1em;
      }
      ul {
        background-color: #eee;
        color: #a1b58f;
        border-radius: 8px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      #section-service, #section-features, #section-others {
        padding-top: 62px;
        margin-top: -62px;
        display: inline-block;
      }
    }
  }
  .team-info {
    li {
      font-size: 16px;
    }
  }
  .agreement-content {
    h4 {
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
  .faq-content {
    h3 { font-weight:bold; }
    h4 {
      margin-top: 25px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      word-break: break-all;
      a {
        color: #f7f7f7;
        font-weight: bold;
      }
    }
  }
  // Grey background for help
  .override-with-grey-bg {
    background-color: #eee;
    min-height: 100%;
    width: 100%;
    padding-top: 40px;
    .help-content {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: rgba(0,0,0,0.1) 1px 1px 10px;
      min-height: 300px;
      padding-top: 35px;
      padding-bottom: 15px;
      margin-bottom: 50px;
      color: #000;
    }
    .edition-pin {
      text-align: right;
      margin-right: 2%;
      color: #999;
    }
    h3 { text-align:center; }
    .guide-section {
      text-align: center;
      .max-width-guide-image {
        max-width:100%;
      }
      .half-width-guide-image-left {
        max-width:45%;
        float: left;
      }
      .half-width-guide-image-right {
        max-width:45%;
      }
      p { text-align:left; }
      .guide-title {
        color: #389DD8;
      }
    }
  }

}
