.configuration {
  .name-setting {
    margin: 20px 0 10px 0;
  }
}
#member-list {
  margin-top: 20px;
  margin-bottom: 20px;
  .member-name {
    color: #000;
    margin-bottom: 10px;
    a {
      margin-left: 10px;
    }
  }
}
.member-invite {
  margin-left: 10px;
  margin-bottom: 35px;
  form {
    float: left;
  }
}
.invite-again-notice {
  margin-left: 20px;
  padding: 7px;
}
.invite-again-container {
  margin-bottom: 20px;
}
.return-link {
  margin: 10px 0 10px 0;
}
