#tagging-submit {
  display: none;
  margin-top: 10px;
}
#tag-input {
  margin: 10px 15px;
  input[type=text] {
    min-width: 120px;
  }
  padding-left: 5px;
}
.tag-label {
  margin: 10px 15px 0;
  padding-left: 10px;
}
#tag-list-container {
  margin: 5px 10px 10px;
  li {
    margin-bottom: 3px;
    margin-left: 5px;
  }
}
#tag-list {
  padding-top: 7px;
  max-height: 250px;
  overflow-y: scroll;
  .divider { border-color: #ccc; }
  li {
    padding-left:10px;
  }
}
