/* Topic Area */
@import "custom_mixins";
.major-content {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 100%;
}
.topiclist-buttongroup {
  padding-left: 10px;
  margin-top: 4px;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  button {
    width: 85px;
  }
  .topic-check-all {
    float: left;
    text-align: center;
    width: 56px;
    height: 34px;
    border: 1px #dedede solid;
    padding-top: 5px;
    border-radius: 4px;
    margin-right: 5px;
  }
  #tagging-controls {
    float: left;
    margin-right: 5px;
  }
}
/*
.topic-area-gap {
  width: 105%;
  position: relative;
  clear: both;
  border-top: 1px solid #ccc;
}
.headline {
  margin-top: 12px;
  .breadcrumb {
    margin-bottom: 16px;
  }
  h4 {
    padding-left: 3%;
    color: #000;
  }
}
*/
#topic-area {
}

.unread {
  font-weight: bold;
}
.read {
}

#topic-list {
  ul.topic-list-ul {
    border-top: 1px #ccc dashed;
  }
  li.topic-row {
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    line-height: 48px;
    height: 48px;
    width: 100%;
    padding-left: 32px;
    padding-right: 3%;
    padding-bottom: 4px;
    border-bottom: 1px #ccc dashed;
    &:hover { background-color: #eee;}
    .topic-checkbox {
      float: left;
      min-width: 20px;
      width: 3%;
      clear: left;
    }
    .topic-creator-info {
      float: left;
      min-width: 120px;
      width: 15%;
      .topic-creator {
        float: left;
        max-width: 80%;
        @include get-rid-of-long-words();
      }
      .topic-reply-number {
        float: left;
        min-width: 10px;
      }
    }
    .topic-title-with-tag {
      float: left;
      font-size: 14px;
      max-width: 65%;
      overflow: hidden;
      margin-right: 5px;
      @include get-rid-of-long-words();
      .headline-tag-container {
        margin-right: 5px;
        float: left;
      }
    }
    .topic-update-time {
      float: right;
      text-align: right;
      clear: right;
      max-width: 120px;
    }
  }
}

.topic-show {
  .title {
    h2 {
      float: left;
      color: #000;
      font-weight: 600;
      margin-left: 5px;
      margin-right: 20px;
    }
    .headline-tag-container {
      float: left;
      padding-top:25px;
    }
  }
}

#discussion-list {
  clear: left;
  padding-top: 10px;
  li.discussion-li {
    padding: 5px 0;
    margin-left: 0;
  }
  .discussion-info {
    background-color: #F4FAF2;
    line-height: 35px;
    height: 35px;
    .reply-span {
      float: left;
      text-align: center;
      width: 35px;
      margin-right: 15px;
      color: #fff;
      background-color: #bfd1aa;
    }
  }
  .content {
    @include editor-reset-style;
    padding: 10px 0 0 7px;
    color: #000;
    word-wrap:break-word;
    overflow:hidden;
    .toggle-quote {
      background: image-url("ellipsis.png") no-repeat;
      padding: 0;
      opacity: .5;
      width: 22px;
      background-color: #999;
      border: 1px solid #ddd;
      clear: both;
      height: 10px;
      border-radius: 0;
      line-height: 6px;
      outline: none;
    }
    blockquote {
      margin-bottom: 0;
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
  }
  .attachment {
    margin: 10px 0 0 0;
    span {
      margin-left: 30px;
      padding: 5px 5px;
      display: inline-block;
      background-color: #eee;
    }
  }
  .notify-party {
    padding: 10px 0 0 7px;
    color: #777;
    span {
      margin-right: 7px;
    }
  }
  .discussion-creator {
    color: #588CC7;
    float: left;
    margin-right: 20px;
  }
  .update-time {
    float: right;
    margin-right: 20px;
    clear: right;
    color: #999;
  }
}
#new-discussion {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  .reply-submit input[type=submit] {
    @include green-button();
  }
}

// select user
#select-user-for-topic, #select-user-for-discussion {
  .subgroup-select-header {
    height: 34px;
    margin-bottom: 15px;
    float: left;
  }
  .subgroup-select-list {
    clear: both;
  }
  span {
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: #999;
    background-color: #eee;
    &:hover {
      color: #fff;
      font-weight: bold;
      background-color: #ccc;
    }
  }
  .selected {
    font-weight: bold;
    color: #fff;
    background-color: #BFC9A7;
    &:hover {
      color: #fff;
      background-color: #BFC9A7;
    }
  }
  .invited-emails-input {
    height: 34px;
    padding: 6px 9px;
    max-width: 155px;
    @include input-border(4px);
  }
  label {font-weight: normal;}
  margin: 10px auto;
}

// uploader
.fileupload-buttonbar {
  height: 0;
}
.progress {
  margin-bottom: 0;
}
.file-uploader {
  table {
    margin-bottom: 0;
  }
  .template-upload td, .template-download td {
    vertical-align: middle;
  }
}
