/* Topic Area */
.major-content {
  padding-left: 5%;
  min-height: 100%;
}
.topiclist-buttongroup {
  padding-left: 3%;
  max-width: 300px;
  margin-top: 15px;
  height: 30px;
  margin-bottom: 20px;
  button {
    width: 85px;
  }
  .topic-check-all {
    float: left;
    text-align: center;
    width: 55px;
    height: 34px;
    border: 1px #dedede solid;
    padding-top: 5px;
    border-radius: 4px;
    margin-right: 5px;
  }
  #tagging-controls {
    float: left;
    margin-right: 5px;
  }

}
.topic-area-gap {
  width: 110%;
  position: relative;
  left: -2%;
  clear: both;
  border-top: 5px solid #eee;
}
#topic-area {
  padding-left: 3%;
}

.unread {
  font-weight: bold;
}
.read {
}

.headline {
  margin-top: 12px;
  margin-left: 15px;
  h4 {
    color: #588CC7;
  }
}
#topic-list {
  li.topic-row:first-child {
    border-top: 1px #ccc solid;
  }
  li.topic-row {
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    line-height: 48px;
    height: 48px;
    width: 105%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px;
    border-bottom: 1px #ccc dashed;
    .topic-checkbox {
      float: left;
      min-width: 20px;
      width: 3%;
      clear: left;
    }
    .topic-creator {
      float: left;
      min-width: 120px;
      width: 15%;
    }
    .topic-title-with-tag {
      float: left;
      font-size: 14px;
      width: auto;
      max-width: 65%;
      overflow: hidden;
      .title {
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .headline-tag-container {
        margin-right: 5px;
        float: left;
      }
    }
    .topic-update-time {
      float: right;
      text-align: right;
      clear: right;
      max-width: 120px;
    }
  }
}

.topic-show {
  .title {
    h2 {
      float: left;
      color: #5C8AC0;
      font-weight: 600;
      margin-left: 5px;
      margin-right: 20px;
    }
    .headline-tag-container {
      padding-top:30px;
    }
  }
}

#discussion-list {
  clear: left;
  padding-top: 10px;
  li.discussion-li {
    padding: 10px 0;
    margin-left: 0;
    margin-bottom: 5px;
    &:first-child .discussion-info {
      .reply-span {
        float: left;
        margin-right: 5px;
        padding: 0 20px 0 0;
        background-color: #f7f0d1;
      }
    }
  }
  .content {
    padding: 10px 0 0 7px;
    color: #000;
    word-wrap:break-word;
    overflow:hidden;
  }
  .attachment {
    margin: 10px 0;
    span {
      margin-left: 30px;
      padding: 5px 5px;
      display: inline-block;
      background-color: #eee;
    }
  }
  .discussion-info {
    background-color: #F4FAF2;
    line-height: 35px;
    height: 35px;
    .reply-span {
      float: left;
      margin-right: 5px;
      padding: 0 5px 0 0;
      background-color: #bfd1aa;
    }
  }
  .notify-party {
    padding: 10px 0 0 7px;
    color: #777;
  }
  .discussion-creator {
    color: #588CC7;
    float: left;
    margin-right: 20px;
  }
  .update-time {
    float: left;
    clear: right;
    color: #999;
  }
}
#new-discussion {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #eee;

}
