/*
orange: #F57E27;
paiting yellow: #FFD09C;
light orange: #FBA847;
grey: #EAE8E7;
light green: #1ABC9C;
dark green:#16A085;
blue: #428BCA;
venera navbar: #E7EADF;
teamind navbar: #8E958A;
*/

body.welcome {
  // modal
  #myModal {
    font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    #early_adotpers_add_success_msg {

      .modal-content {

        .modal-header {
          h4 {
            padding-left: 10px;
          }
        }

        .modal-body {
          p {
          padding-left: 15px;
          }
        }


        .modal-footer {
          button {
            background-color: #1ABC9C;
            border-color: #1ABC9C;
          }
        }
      }
    } // End of #early_adotpers_add_success_msg
  } // End of .modal

  .scroll {
    opacity: 0.85;
  }
  .scrolltop {
    background-color: #F1F1F1;
    border: 1px solid #8E958A;
    color: #8E958A;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    line-height: 3.6rem;
    width: 36px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    right: 10%;
    /*text-indent: -9999px;*/
    top: 65%;
    z-index: 33;
    text-align: center;
    i {
      position:relative;
      top:-3px;
    }
  }

.navbar-toggle {
  margin-top: 12px;
  border: 2px solid #fff;
  z-index: 999;
}
.icon-bar {
  background-color:#fff;
}
.navbar {
  min-height: 40px;
  margin-bottom: 0;
}
.logo-container {
  position: relative;
  top: -12px;
  margin-left: 18px;
  h1 {
    font-family: 'Lobster Two', cursive;
    color: #fff!important;
    font-weight: 700;
    float: left;
  }
  h3 {
    font-family: 'Lobster Two', cursive;
    color: #fff!important;
    font-weight: 700;
    float: left;
    position: relative;
    left: 7px;
    top: 9px;
  }
}

  .nav-brand img {
    position:relative;
    top: 15px;
  }
  .navbar-inner {
    height: 60px;
    border-bottom: 0 none;
    -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.5);
    box-shadow: 0 1px 2px rgba(100, 100, 100, 0.5);
    filter: none;
    padding: 0 auto;
    background-color: #F6F6F6;
  }
  .navbar-teamind {
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 600;
    ul {
      padding-top:5px;
      padding-bottom:5px;
      background-color: #F6F6F6;
      li {
        a {
          margin-right: 15px;
          margin-left: 15px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          color: #004500;
          &:hover {
            background-color: #EAE8E7;
            color: #666!important;
          }
        }
      }
    }
  }
  /* End of nav */

  /* Hero unit */
  .hero-unit {
    padding-top: 105px;
    padding-bottom: 50px;
    background: image-url("bg.jpg") no-repeat center top;
    background-size:100% 100%;
    height: auto;
    border-bottom: 1px solid #d1d2d4;
    box-shadow: 0px 3px 8px 0px #e7e7e7;
    text-align: center;
  }
  .video-player {
    max-width: 680px;
    margin: 0 auto;
  }
  .vplayer-box {
    text-align: center;
    max-width: 648px;
    max-height: 368px;
    border: 4px solid #8E958A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  /* intro */
  .intro-wraper {
    background: image-url("content_bg-1.jpg") 0 0 repeat;
    padding-bottom: 50px;
    hr {
      width: 30%;
      border-top: 1px solid #BEC0C3;
      border-bottom: 2px solid white;
    }
  }
  .intro {
    position: relative;
    margin-top: 65px;
    text-align: center;
    h3 {
      font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      line-height: 35px;
      line-height: 3.5rem;
      margin: 100px auto 0px;
    }
    .slogan-container {
      max-width:500px;
      margin: 60px auto 0;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }

  /* form */
  textarea, input { outline: none; }
  .apply-form {
    position: relative;
    margin-top: 40px;
    top: -40px;
  }
  .sign-up-form{
    h4 {
      font-weight: 600;
    }
    input[type="email"], input[type="text"] {
      background:#fff;
      border: 2px solid #1ABC9C;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding:15px 15px;
      height:48px;
      width:200px;
      color:#7f7f7f;
      font-size:17px;
      font-size: 1.7rem;
      vertical-align: bottom;
      margin:0px;
    }
    input[type="submit"] {
      background: #1ABC9C;
      border:none;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-top-right:3px;
      -moz-border-radius-bottom-right: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      position:relative;
      left:-5px;
      height:48px;
      width:160px;
      font-size:19px;
      font-size:1.9rem;
      font-family:Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      margin:0px;
      color:#fff;
      padding-right:20px;
      &:hover {
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        cursor:pointer;
      }
    }
  }
}

/* mobile */
@media (max-width: 768px) {
  .nav-brand img {
    width: 125px;
    position:relative;
    margin-top: 10px;
  }
  .navbar-toggle {
    margin-top: 12px;
    border: 2px solid #CCC;
    z-index: 999;
  }
  .icon-bar {
    background-color:#CCC;
  }
  .sign-up-form {
    .email {
      border-radius:none;
      width: 200px;
      position:relative;
      margin: 0 auto;
    }
    #applyBtn {
      border-radius:none;
      width: 200px;
      left: 0;
      margin: 0 auto;
    }
  }
  .intro {
    h3 {
      font-size: 20px;
      font-size: 2rem;
    }
  }
  .copyright {
    margin: 0 auto;
  }
  .icp {
    float: right;
    padding-right:15px;
  }
}
