@mixin green-button() {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb65b;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
@mixin get-rid-of-long-words() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
