<div class="member-invite">
  <%- if login_user_admin? %>
    <form class"form-inline" ng-submit="create()">
      <div class="form-group">
        <%= text_field_tag :user_email, nil, :class => "form-control", :placeholder=>"请输入Email", 'ng-model' => "memberEmail"%>
      </div>
      <%= submit_tag "邀请", :class=>"btn btn-default", 'data-disable-with' => '提交中...' %>
    </form>
    <div class="alert alert-warning mailling-warning">提示: 请勿添加邮件列表</div>
  <% end %>
</div>

