<ul class="col-xs-12 list-unstyled" id="member-list">
  <%- colleagues.try(:each) do |user|%>
    <li class="member-name">
      <i class="fa fa-user"></i>
      <%= user.display_name %>
      <%- if login_user_admin? %>
        <%= link_to delete_member_path(:user => user), :method => :post, :remote => true do %>
          删除该成员
        <% end %>
      <% end %>
    </li>
    <%- if !user.active_status? && login_user_admin? %>
      <li class="invite-again-container">
        <span class="invite-again-notice alert alert-info">他/她还没有激活，<%= link_to invite_member_again_path(:user => user), :method => :post, :remote => true do %>重新发送<% end %>
          邀请邮件。
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
