  <div class='row' id="member-list">
    <div><%= current_user.email_name %></div>
    <%- colleagues.try(:each) do |user|%>
      <div>
        <%- if user.active_status %>
          <%= user.email_name %>
        <%- else %>
          <%= user.email %>
        <% end %>
      </div>
      <div>
        <%= link_to downsize_path(:user => user), :method => :post, :remote => true, :class=>"center" do %>
          <span>删除该成员</span>
        <% end %>
      </div>
    <% end %>
  </div>
