  <ul class='col-xs-12 list-unstyled' id="member-list">
    <li>
      <i class="fa fa-user"></i>
      <%= login_user.email_name %>
    </li>
    <%- colleagues.try(:each) do |user|%>
      <li class="member-name">
        <i class="fa fa-user"></i>
        <%- if user.active_status %>
          <%= user.email_name %>
        <%- else %>
          <%= user.email %>
        <% end %>
        <%- if login_user_admin? %>
          <%= link_to delete_member_path(:user => user), :method => :post, :remote => true, :class=>"center" do %>
            删除该成员
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
