<ul class="col-xs-12 list-unstyled configuration" id="user-configuration">
  <li class="name-setting">
    账户名称:
    <%= login_user.display_name %>
  </li>
  <li>
    <%= form_tag set_user_name_path, :method => "post", :class=>"form-inline", :remote => true do %>
      <div class="form-group">
        <label class="sr-only" for="exampleInputUserName">User Name</label>
        <%= text_field_tag :user_name, nil, :class=>"form-control", :placeholder=>"设置用户名"%>
      </div>
      <%= submit_tag "确定", :class=>"btn btn-default", 'data-disable-with' => '提交中...' %>
      <span class="help-block">你希望在发送的邮件上显示的用户名</span>
    <% end %>
  </li>
</ul>
