<div class="bottom-signup-guide">
  <h3>teamail.biz &nbsp | &nbsp 简单邮件操作，完成项目管理</h3>
  <h4>期待你的使用</h4>
  <%= button_to "现在就试用", signup_path, :method => "get", :class => "btn btn-success guide-btn" %>
  <h5>观看概念视频 >>></h5>
</div>
