<!-- footer -->
<footer>
  <div class="footer-index">
    <div class="container">
      <div class="row copyright">
        <div class="col-xs-12 col-md-5">
            <p>
              Copyright &#169; LohasWork Ltd. 2013 <br>
              All Rights Reserved
            </p>
        </div>
        <div class="col-xs-12 col-md-4 icp">
          <p><a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备13031730号-2</a></p>
        </div>
        <div class="col-xs-12 col-md-3 footer-links">
          <ul class="list-unstyled col-md-6">
            <li>
              <%= link_to '常见问题', faq_path, {target: "_blank"} %>
            </li>
            <!--
            <li>
              <a href="#">功能介绍</a>
            </li>
            -->
            <li>
              <%= link_to '服务条款', agreement_path, {target: "_blank"} %>
            </li>
          </ul>
          <ul class="list-unstyled col-md-6">
            <li>
              <a href="http://blog.lohaswork.com/" target="_blank">官方博客</a>
            </li>
            <li>
              <%= link_to '关于我们', about_us_path, {target: "_blank"} %>
            </li>
            <li>
              <a href="mailto:support@lohaswork.com">联系我们</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
