<!-- footer -->
<footer>
  <div class="footer-index">
    <div class="container">
      <div class="row copyright">
        <div class="col-xs-12 col-md-5">
            <p>
              Copyright &#169; LohasWork Ltd. 2013 <br>
              All Rights Reserved
            </p>
        </div>
        <div class="col-xs-12 col-md-4 icp">
          <p>沪ICP备13031730号-2</p>
        </div>
        <div class="col-xs-12 col-md-3 footer-links">
          <ul class="list-unstyled col-md-6">
            <li>
              <a href="#">常见问题</a>
            </li>
            <li>
              <a href="#">功能介绍</a>
            </li>
            <li>
              <a href="#">服务条款</a>
            </li>
          </ul>
          <ul class="list-unstyled col-md-6">
            <li>
              <a href="#">官方博客</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
            <li>
              <a href="mailto:support@lohaswork.com">联系我们</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
