<!-- footer -->
<div class="footer-fix"></div>
<footer>
  <div class="footer-index">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-4">
            <p>
              Copyright &#169; LohasWork Ltd. 2013 <br>
              All Rights Reserved
            </p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-3 col-md-offset-5 social">
          <!--
          <a href="http://site.douban.com/219120/" class="douban">
            <i class="icon-douban icon-2x", alt="豆瓣"></i>
          </a>
          <a href="http://weibo.com/u/3732217665/" class="weibo">
            <i class="icon-weibo icon-2x"></i>
          </a>
          -->
          <p class="icp">沪ICP备13031730号-1</p>
        </div>
      </div>
    </div>
  </div>
</footer>
