<!-- footer -->
<div class="footer-fix"></div>
<footer>
  <div class="footer-index">
    <div class="container">
      <div class="row copyright">
        <div class="col-xs-12 col-md-4">
            <p>
              Copyright &#169; LohasWork Ltd. 2013 <br>
              All Rights Reserved
            </p>
        </div>
        <div class="col-xs-12 col-md-3 col-md-offset-5 social">
          <p class="icp">沪ICP备13031730号-2</p>
        </div>
      </div>
    </div>
  </div>
</footer>
