<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner container">
    <div class="pull-left logo">
      <%= link_to root_path do %>
        <%= image_tag('teamail-logo-green.png') %>
      <% end %>
    </div>
    <ul class="list-inline pull-right">
      <% unless controller_name == "home" && action_name == "index" %>
        <li>
          <%= link_to('注册', signup_path) %>
        </li>
      <% end%>
      <li>
        <%= link_to('登录', login_path) %>
      </li>
    </ul>
  </nav>
</header>
